@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Ephesis&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Special+Elite&display=swap');
@import "tailwindcss";

body {
  --columns: repeat(1fr, 26);
  --pattern: url('assets/images/bg2.png');
}

/* .cen {
  justify-content: center; 
  align-items: center; 
  justify-items: center; 
  align-content: center;
} */

.timer {
  background: linear-gradient(90deg,
      rgba(255, 66, 66, 1) 0%,
      rgba(255, 147, 0, 1) 35%,
      rgba(255, 250, 3, 1) 70%,
      rgba(0, 255, 186, 1) 100%);
}

.card {
  min-width: var(--cell-min-width);
  max-height: var(--cell-max-height);
}

.image-container {
  /* bg-[conic-gradient(at_top_left,_var(--tw-gradient-stops))] from-[#f9f9f9] via-[#bcbab8] to-[#9d8f8f] */
  background-image: conic-gradient(at 0% 0%, #f9f9f9 0%, #bcbab8 50%, #9d8f8f 100%);
}

.difficulty-card:hover .image-container {
  background-image: radial-gradient(circle at center, #f9f9f9, #bcbab8, #9d8f8f);
}

.casual {
  .difficulty-image {
    scale: 1.1;
  }

  .difficulty-name {
    font-family: "Bubblegum Sans", serif;
  }
}

.classic {
  .difficulty-image {
    scale: 0.8;
  }

  .difficulty-name {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
  }
}

.challenging {
  .difficulty-name {
    font-family: "Special Elite", serif;
  }
}

.card-trickster {
  .difficulty-image {
    scale: 0.9;
    translate: 0 -5%;
  }

  .difficulty-name {
    font-family: "Ephesis", serif;
  }
}

/*  absolute top-0 left-0 [--breadth:0.5rem] w-[calc(100%+var(--breadth)*2)] h-[calc(100%+var(--breadth)*2] -translate-x-(--breadth) -translate-y-(--breadth) -z-10 *:bg-white */

.difficulty-card-border {
  --hover-length: max(3rem, 3vw, 5vh);
  --hover-breadth: .5rem;
  --breadth: 0.1rem;
  /* --length: calc(100% + (var(--breadth)*2)); */
  --length: 100%;
  width: var(--length);
  height: var(--length);
  /* translate: calc(var(--breadth)*-1) calc(var(--breadth)*-1); */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  &>div {
    background: white;
    position: absolute;
    transition: all .4s ease-out;
  }

  .side-border {
    transition-delay: 0.2s;
    transition-duration: 0.2s;
  }

  .top,
  .bottom {
    width: 100%;
    height: var(--breadth);
    left: 0;
  }

  .left,
  .right {
    height: 100%;
    width: var(--breadth);
    top: 0;
  }

  .top-left,
  .bottom-right {
    width: var(--hover-breadth);
    height: var(--hover-length);
  }

  .top-right,
  .bottom-left {
    width: var(--hover-length);
    height: var(--hover-breadth);
  }

  .top,
  .top-left,
  .top-right {
    top: 0;
  }

  .bottom,
  .bottom-left,
  .bottom-right {
    bottom: 0;
  }

  .left,
  .top-left,
  .bottom-left {
    left: 0;
  }

  .right,
  .top-right,
  .bottom-right {
    right: 0;
  }

  .top-left {
    translate: 0 -100%;
  }

  .top-right {
    translate: 100% 0;
  }

  .bottom-right {
    translate: 0 100%;
  }

  .bottom-left {
    translate: -100% 0;
  }
}

.difficulty-card:hover .difficulty-card-border {

  .top,
  .bottom {
    height: var(--hover-breadth);
  }

  .left,
  .right {
    width: var(--hover-breadth);
  }

  .top {
    /* translate: calc(100% - var(--hover-length)) 0; */
    left: var(--hover-length);
    translate: -100% 0;
  }

  .right {
    top: var(--hover-length);
    translate: 0 -100%;
  }

  .bottom {
    left: calc(var(--hover-length) * -1);
    translate: 100% 0;
  }

  .left {
    top: calc(var(--hover-length) * -1);
    translate: 0 100%;
  }

  .side-border {
    translate: 0;
  }
}

@theme {
  --color-rebeccapurple: #663399;
  --color-main: #390b77;
  --timer-gradient: linear-gradient(90deg,
      rgba(255, 66, 66, 1) 0%,
      rgba(255, 147, 0, 1) 35%,
      rgba(255, 250, 3, 1) 70%,
      rgba(0, 255, 186, 1) 100%)
}

@utility flipped {
  display: none;
}

@utility selected {
  background: conic-gradient(at bottom left, #382933, #3b5249, #519872);
}

/* 
@layer components {
  .board {
    gap: clamp(.3rem, 1vw, .7rem);
    @apply p-[1vw] grid-cols-3 sm:grid-cols-4 2xl:grid-cols-6 landscape:grid-cols-6;

    .card {
      @apply max-h-[10rem] 2xl:max-h-[20vh];
    }
  }

  .medium {
    @apply grid-cols-4 sm:grid-cols-6 lg:grid-cols-8;

    .card {
      @apply max-h-[14vh] sm:max-h-[16vh] md:max-h-[10vw] xl:max-h-[20vh]
    }
  }

  .hard {
    @apply sm:grid-cols-6 xl:grid-cols-7 landscape:2xl:grid-cols-9;
  }
} */